asgiref==3.6.0
Brotli==1.0.9
cffi==1.15.1
cssselect2==0.7.0
Django==4.1.7
django-extensions==3.2.1
django-widget-tweaks==1.4.12
fonttools==4.39.0
html5lib==1.1
Pillow==9.4.0
psycopg2==2.9.5
pycparser==2.21
pydyf==0.5.0
pyphen==0.13.2
python-dotenv==1.0.0
shortuuid==1.0.11
six==1.16.0
sqlparse==0.4.3
tinycss2==1.2.1
tzdata==2022.7
weasyprint==58.1
webencodings==0.5.1
zopfli==0.2.2
