{% comment %} <table>
    <thead>
      <tr>
        <th>
          <select id="year-select">
            {% for year in years %}
              <option value="{{ year }}" {% if year == current_year %}selected{% endif %}>{{ year }}</option>
            {% endfor %}
          </select>
          {% for month in months %}
            <button class="month-button" data-year="{{ current_year }}" data-month="{{ month.month }}">{{ month.name }}</button>
          {% endfor %}
        </th>
        {% for day in days %}
          <th>{{ day.day }} - {{ day.weekday }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for type_room in Room.TYPES_ROOMS %}
        <tr>
          <td>{{ type_room.1 }}</td>
          {% for day in days %}
            {% with date=day.date %}
              <td>
                {% for room in rooms %}
                  {% if room.type_room == type_room.0 and room_reservations[date.year][date.month][date.day][room.pk] < room.max_capacity %}
                    <span class="free-room">{{ room_reservations[date.year][date.month][date.day][room.pk] }}</span>
                  {% else %}
                    <span class="occupied-room">{{ room_reservations[date.year][date.month][date.day][room.pk] }}</span>
                  {% endif %}
                {% endfor %}
              </td>
            {% endwith %}
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table> {% endcomment %}



  <table>
    <thead>
      <tr>
        <th>
          <select id="year-select">
            {% for year in years %}
              <option value="{{ year }}" {% if year == current_year %}selected{% endif %}>{{ year }}</option>
            {% endfor %}
          </select>
          {% for month in months %}
            <button class="month-button" data-year="{{ current_year }}" data-month="{{ month.month }}">{{ month.name }}</button>
          {% endfor %}
        </th>
        {% for day in days %}
          <th>{{ day.day }} - {{ day.weekday }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
        {% for type_room in Room.TYPES_ROOMS %}
        <tr>
            <td>{{ type_room.1 }}</td>
            {% for day in days %}
            <td>
                {% for room in rooms %}
                {% with reservation=room_reservations|get_item:room.pk|get_item:day.date.strftime('%Y-%m-%d') %}
                {% if room.type_room == type_room.0 and reservation < room.max_capacity %}
                <span class="free-room">{{ reservation }}</span>
                {% else %}
                <span class="occupied-room">{{ reservation }}</span>
                {% endif %}
                {% endwith %}
                {% endfor %}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>

                    
                    
                    
                    
                    
                    
  