{% extends 'base.html' %}


{% block content %}

<div class="title text-center"><h2>Rooms:</h2></div>

<div class="row m-4 ">
    <div class="col d-flex justify-content-center flex-wrap">
        {% for room in rooms %}
        <div class="card col-3 m-3" style="width: 18rem; background-color: {{ room.status }};">
            <div class="card-body">
                <div class="card-top d-flex border-bottom">
                    <p class="card-state ">
                        {% if room.state == 1 %}
                            Free  
                        
                        {% elif room.state == 2 %}
                            Occu. 
                        {% else %}
                            Blocked  
                        {% endif %}                    
                    <i class="bi bi-card-checklist"></i></p>
                    <p class='room-name mx-3'> room: {{room.name}} </p>
                    <p class='room-type ml-4'> Type: {{room.type_room}} </p>
                    
                </div>
                
                    <div class="passanger-room">
       
                    </div>


                <div class="fecha m-3">
                    <p class=''>Inicio: </p>
                    <p>Limite: </p>
                </div>
                    
                </div>

            </div>
        {% endfor %}
    </div>
</div>


{% endblock content %}