{% extends 'base.html' %}


{% block content %}

<div class="title text-center"><h2>Rooms:</h2></div>
 <!-- Room Cards --> 
<div class="row m-4 ">
    <div class="col d-flex justify-content-center flex-wrap">
        
        {% for room in rooms %}
        <div class="card m-3" style=" min-height: 280px;background-color:{{room.status}}; max-width: 260px;">
            <div class="card-body">
                <!-- Upper Room Card --> 
                <div class="card-top d-flex border-bottom">
                    <p class="card-state mr-2">
                        {% if room.state == 1 %}
                            Free  
                        
                        {% elif room.state == 2 %}
                            Occu. 
                        {% else %}
                            Blocked  
                        {% endif %}                    
                    
                    <p class="ml-2">Room: <strong>{{room.name}}</strong></p>                    
                    <p class='room-type ml-4'> Type: {{room.get_type_room_display}} </p>
                    
                    
                </div>
                <!-- Down part Room Card --> 
                <div class="fecha my-3">                    
                    {% for reservation in reservations %}
                        {% if reservation.room.name == room.name %}                      
                            
                            <a href="{% url 'hotel:passanger-data' pk=reservation.passanger.id %}" >- {{reservation.passanger}}</a>
                            <p class='mb-1 mt-2 font-monospace'>-In: {{reservation.date_in|date:"d-m-Y"}}</p>
                            <p class='mb-1 font-monospace'>-Out: {{reservation.date_out|date:"d-m-Y"}}</p>
                            <p class='room-type'>-Paxs: {{reservation.amount_people}}</p>

                            <!-- Check out button --> 
                            <div class="container d-flex justify-content-start flex-wrap" style="width: 300px; margin-left: -20px;">

                                <div class="checkout bg-danger rounded pt-1 text-center" >
                                    <a href="{% url 'hotel:checkout' pk=reservation.id %}"  class="mt-2 text-left"style="font-size:12px; font-weight:bold; color:#fff;">Check-out</a>
                                </div>
                                
                                <!-- Edit reservation button --> 
                                <form action="{% url 'hotel:update_reserva' pk=reservation.id %}" method="post">
                                    {% csrf_token %}
                                    <button type="button" class="btn btn-warning ml-4" data-bs-toggle="modal" data-bs-target="#updateModal_{{reservation.id}}">
                                        Edit
                                    </button>
                                </form>

                                
                                <div class="m-2">
                                    <a href="{% url 'hotel:export_pdf' pk=reservation.id %}" target="_blank">Open PDF</a>
                                </div>
                               

                            </div>
                            
                        {% endif %}         
                        
                    {% endfor %}
                </div>
                    
                </div>

            </div>
        {% endfor %}
    </div>
</div>


<!--Reservation modal upate -->
{% for reservation in reservations %}
<div class="modal fade" id="updateModal_{{reservation.id}}" tabindex="-1" aria-labelledby="exampleModalLabel{{reservation.id}}" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel"><i class="bi bi-journal-bookmark"></i> Editar Reservation:</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
    
        <form action="{% url 'hotel:update_reserva' reservation.id %}" method = 'POST'>
            {% csrf_token %}
            <div class="modal-body">           
            
            <div class="form-group m3">
                <label for="room">Room:</label>
                    <select class="form-control" id="room" name="room">
                        {% for room in rooms %}
                            {% if room.status == '#9bf0ac' and room.state == 1 and reservation.room.type_room == room.type_room or room.name == reservation.room.name %}
                                <option value="{{ room.id }}">
                                    {{ room.name }}
                                </option>
                            {% endif %}    
                        {% endfor %}
                    </select>
            </div>
        
                <div class="form-group m-3">
                    <label for="date_in">Date in:</label>
                    <input type="date" class="form-control" id="date_in" name="date_in" value={{reservation.date_in|date:'Y-m-d'}} >
                </div>
                <div class="form-group m-3">
                    <label for="date_out">Date out:</label>
                    <input type="date" class="form-control" id="date_out" name="date_out" value={{reservation.date_out|date:'Y-m-d'}} >
                </div>

                <div class="form-group m-3">
                    <label for="amount_people">Amount people:</label>
                    <input type="number" class="form-control" id="amount_people" name="amount_people" value={{reservation.amount_people}} >
                </div>
                <div class="form-group m-3">
                    <label for="observations">Observation:</label>
                    <textarea name="observations" id=""  rows="10">{{reservation.observations}}</textarea>
                </div>

                    
            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>

        </form>
        
      </div>
    </div>
</div>
{% endfor %}


{% endblock content %}