{% extends 'base.html' %}

{% block content %}



<div class="container text-center d-flex justify-content-center">
    <div class="row">
        <div class="col">
    
            <div class="card" style="width: 18rem;">
                <div class="card-header">
                  <h4>Passenger information</h4>
                </div>
                <table class='mt-3'>
                  <tr class='border-bottom my-2'>
                    <td class='py-2'>Name:</td>
                    <td>{{passan.name}}</td>
                  </tr>
                  <tr class='border-bottom my-2'>
                    <td class='py-2'>Dni:</td>
                    <td>{{passan.dni}}</td>
                  </tr>
                  <tr class='border-bottom my-2'>
                    <td class='py-2'>Tel:</td>
                    <td>{{passan.tel}}</td>
                  </tr>
                  <tr class='border-bottom my-2'>
                    <td class='py-2'>Email:</td>
                    <td>{{passan.email}}</td>
                  </tr>
                  <tr class='border-bottom my-2'>
                    <td class='py-2'>Country:</td>
                    <td>{{passan.country}}</td>
                  </tr>
                  <tr class='border-bottom my-2'>
                    <td class='py-2'>City:</td>
                    <td>{{passan.city}}</td>
                  </tr>
                  <tr class='border-bottom my-2'>
                    <td class='py-2'>Address:</td>
                    <td>{{passan.address}}</td>
                  </tr>
                  <tr class='border-bottom'>
                    <td class='py-2'>Birth date:</td>
                    <td>{{passan.birth_date}}</td>
                  </tr >
                  <tr>
                    <td colspan="2"><h5 class='my-3 border-bottom'>Observations:</h5></td>
                  </tr>
                  <tr >
                    <td colspan="2 ">{{passan.observations}}</td>
                  </tr>
                </table>

                <div class="container my-3 border-top">
                
                <form action="" method='POST'>
                    {% csrf_token %}
                    <button type='button' class='btn btn-primary mx-4 my-4 ' data-bs-toggle="modal" data-bs-target="#updateModal_{{passan.id}}">Editar</button>
                </form>
                {% comment %} <a href="{% url 'hotel:export_pdf' pk=allpassan.id %}" target="_blank">Abrir PDF</a> {% endcomment %}
                
            </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal: editar tarea-->

<div class="modal fade" id="updateModal_{{passan.id}}" tabindex="-1" aria-labelledby="exampleModalLabel{{tarea.id}}" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel"><i class="bi bi-journal-bookmark"></i> Edit Info:</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        
    
        <form action="{% url 'hotel:update' pk=passan.id %}" method = 'POST'>
            {% csrf_token %}
            <div class="modal-body">
                <div class="form-group m-3">
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" id="name" name="name" required>
                </div>

                <div class="form-group m-3">
                    <label for="dni">Dni:</label>
                    <input type="text" class="form-control" id="dni" name="dni"  required>
                </div>

                <div class="form-group m-3">
                    <label for="tel">Tel:</label>
                    <input type="text" class="form-control" id="tel" name="tel"  required>
                </div>

                <div class="form-group m-3">
                  <label for="email">Email:</label>
                  <input type="text" class="form-control" id="email" name="email"  required>
                </div>

                <div class="form-group m-3">
                <label for="country">Country:</label>
                <input type="text" class="form-control" id="country" name="country"  required>
                </div>

                <div class="form-group m-3">
                <label for="city">City:</label>
                <input type="text" class="form-control" id="city" name="city"  required>
                </div>

                <div class="form-group m-3">
                <label for="adress">Adress:</label>
                <input type="text" class="form-control" id="adress" name="adress"  required>
                </div>

                <div class="form-group m-3">
                <label for="birth_date">Birth date:</label>
                <input type="text" class="form-control" id="birth_date" name="birth_date"  required>
                </div>

                <div class="form-group m-3">
                <label for="observations">Observations:</label>
                <input type="text" class="form-control" id="observations" name="observations"  required>
                </div>
                    
            </div>


            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              <button type="submit" class="btn btn-primary">Guardar</button>
            </div>

        </form>
        <script>
          document.getElementById('name').value = '{{passan.name}}';
          document.getElementById('dni').value = '{{passan.dni}}';
          document.getElementById('tel').value = '{{passan.tel}}';
          document.getElementById('email').value = '{{passan.email}}';
          document.getElementById('country').value = '{{passan.country}}';
          document.getElementById('city').value = '{{passan.city}}';
          document.getElementById('adress').value = '{{passan.adress}}';
          document.getElementById('birth_date').value = '{{passan.birth_date}}';
          document.getElementById('observations').value = '{{passan.observations}}';

        </script> 
         
      </div>
    </div>
</div>


{% endblock content %}