{% extends 'base.html' %}
{% load widget_tweaks %}



{% block content %}

<div class="container d-flex">
    <div class="col-3">
        <div class="row-6">
            <form action="{% url 'hotel:create_reservation' %}" method='POST' class='d-flex flex-wrap'>
                {% csrf_token %}
                <div class="form-group m3">

                    <label for="passanger">Passanger:</label>
                    {{form.passanger}}
                    <div class="container">
                        <label for="room">Rooms:</label>
                        <select name="room" id="room">
                            {% for room in rooms %}                    
                                {% if room.status == '#9bf0ac' and room.state == 1 %}    
                                        <option value="{{room.id}}">{{room.name}}</option>
                                {% endif %}  
                            {% endfor %}
                        </select>                
                    </div>
                    <div class="form-group">

                        <label for="date_in">Date in:</label>
                        {% render_field form.date_in type='date' %}
                    </div>

                    <div class="form-group">
                        <label for="date_out">Date out:</label>
                        {% render_field form.date_out type='date' %}
                    </div>

                    <div class="form-group">

                        <label for="number">Number:</label>
                        {{form.number}}
                    </div>

                    <div class="form-group">

                        <label for="amount_people">People:</label>
                        {{form.amount_people}}
                    </div>

                    <div class="form-group">

                        <label for="status_res">Status:</label>
                        {{form.status_res}}
                    </div>

                    <div class="form-group">

                        <label for="observations">Observation:</label>
                        {{form.observations}}                            
                    </div>
                </div>
                
                <button type="submit" class="btn btn-primary">Save</button>

            </form>

        </div>
    </div>
</div>




{% endblock content %}